<!-- prettier-ignore -->
<div class="breadcrumbs">
  <span><a href="{{ '/' | relative_url }}">{{ site.title }}</a>&nbsp;&raquo;&nbsp;</span>
  {% comment %} Create an empty array {% endcomment %}
  {% assign breadcrumb_paths = '' | split: ',' %}
  {% assign dir_segments = page.dir | split: '/' %}
  {% for segment in dir_segments %}
    {% assign breadcrumb_path = breadcrumb_paths.last | append: segment | append: '/' %}
    {% assign breadcrumb_paths = breadcrumb_paths | push: breadcrumb_path %}
  {% endfor %}
  {% if breadcrumb_paths.size == 0 %}
    {% assign breadcrumb_paths = breadcrumb_paths | push: '/' %}
  {% endif %}
  {% for breadcrumb_path in breadcrumb_paths %}
    {% for site_page in site.pages %}
      {% if site_page.url == breadcrumb_path and site_page.url != '/' and site_page.url != page.url %}
      {% assign directory_title = site_page.dir | split: '/' | last | capitalize %}
      <span><a href="{{ site_page.url | relative_url }}">{{ site_page.title | default: directory_title }}</a>&nbsp;&raquo;&nbsp;</span>
      {% endif %}
    {% endfor %}
  {% endfor %}
  <span class="breadcrumbs-aside">
    <a href="{% capture github_generated_link %}{% github_edit_link %}{% endcapture %}{{ github_generated_link | replace: '/edit/master/', '/blob/master/' }}"><span class="fab fa-github"></span> View source</a>
  </span>
</div>
