body {
    font-family: "Lato",Roboto,"Helvetica Neue",Arial,sans-serif;
    color: #212529;
}

a {
    color: #0366d6;
    text-decoration: none;
}

code {
    font-family: "DejaVu Sans Mono","Consolas",monospace;
    font-size: 90%;
}

h1, h2, h3 {
    font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #e1e4e5;
    margin: 24px 0;
}

pre {
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

.breadcrumbs {
    padding: 0;
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs li.breadcrumbs-aside {
    float: right;
}

.content li {
    margin: 0 0 1em;
}

.nav-content {
    padding: 1.618em 3.236em;
    max-width: 800px;
}

#subpage-listing li {
    position: relative;
    /* Make up for the extra space added by .list-collapser */
    left: -17px;
}

#subpage-listing ul {
    list-style: none;
}

#subpage-listing ul .collapsed {
    overflow: hidden;
    transition: height 0.15s ease-out;
}

#subpage-listing ul .expanded {
    overflow: hidden;
    transition: height 0.25s ease-in;
}

#subpage-listing .list-collapser {
    cursor: pointer;
    /* Force even empty elements to take up space */
    display: inline-block;
    font-size: 80%;
    /* Force even spacing even if the icon changes or there is no icon */
    width: 17px;
}
