<!doctype html>
<html>
  <head>
    {% assign directory_title = page.dir | split: '/' | last | capitalize %}
    <title>{{ page.title | default: directory_title }} | {{ site.title }}</title>
    {% seo title=false %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105364779-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-105364779-4');
    </script>
  </head>
  <body>
    <div class="sidebar">
      <div class="sidebar-heading">
        <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      </div>
      <div class="sidebar-menu">
        {% include sidebar-menu.html %}
      </div>
    </div>
    <div class="nav-content">
      <div role="navigation">
        {% include breadcrumbs.html %}
        <hr>
      </div>
      <div role="main">
        {% assign directory_title = page.dir | split: '/' | last | capitalize %}
        <h1>{{ page.title | default: directory_title }}</h1>
        {% if page.content != "" %}
        {%- assign first_url_segment = page.url | slice: 1, page.url.size | split: '/' | first -%}
        {%- if first_url_segment == 'archive' -%}
          {%- include archive-notice.html -%}
        {%- endif -%}
        <div class="content">
          {{ content }}
        </div>
        {%- else -%}
          {% include subpage-listing.html %}
        {% endif %}
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
