<!doctype html>
<html>
  <head>
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
  </head>
  <body>
    <div class="nav-content">
      <div role="navigation">
        <ul class="breadcrumbs">
          <li><a href="{{ '/' | relative_url }}">{{ site.title }}</a> &raquo;</li>
          {% assign dir_segments = page.dir | slice: 1, page.dir.size | split: '/' %}
          {% for segment in dir_segments %}
          <li>{{ segment | capitalize }} &raquo;</li>
          {% endfor %}
          {% if page.title %}
          <li>{{ page.title }}</li>
          {% endif %}
          <li class="breadcrumbs-aside"><a href="{% github_edit_link %}"><span class="fab fa-github"></span> Edit on GitHub</a></li>
        </ul>
        <hr>
      </div>
      <div role="main">
        {% if page.title %}
        <h1>{{ page.title }}</h1>
        {% endif %}
        {{ content }}
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
